@model WebApplicationChurras.Models.Participante

@{
    ViewData["Title"] = "Editar Participante";
}

<h2>@Model.Nome</h2>

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="ChurrascoID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ParticipanteID" />
            <input type="hidden" id="hdnValorSem" value="@ViewBag.ValorSem" />
            <input type="hidden" id="hdnValorCom" value="@ViewBag.ValorCom" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="radio" asp-for="ComBebida" value="false" /> Sem Bebida &nbsp;
                <input type="radio" asp-for="ComBebida" value="true" /> Com Bebida &nbsp;
            </div>
            <div class="form-group">
                <label asp-for="ValorContribuicao" class="control-label"></label>
                <input asp-for="ValorContribuicao" class="form-control money" />
                <span asp-validation-for="ValorContribuicao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacao" class="control-label"></label>
                <textarea asp-for="Observacao" class="form-control" maxlength="4000"></textarea>
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Pago" /> @Html.DisplayNameFor(model => model.Pago)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <a asp-action="Details" class="btn btn-outline-secondary" asp-controller="Churrascos" asp-route-id="@Model.ChurrascoID">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-outline-dark" />
            </div>
        </form>
    </div>
    <div class="col-lg-offset-2 col-md-4">
        <img id="vader" src="~/images/gifts-for-darth-vader-fans.jpeg" />
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            $("input[name=ComBebida]").click(function () {
                verificaValorComOuSemBebida_SugereValor();
            });
            verificaValorComOuSemBebida_SugereValor();
        });

        function verificaValorComOuSemBebida_SugereValor() {
            if ($("input[value=true]:radio").prop("checked")) {
                $("#@nameof(Model.ValorContribuicao)").val($("#hdnValorCom").val());
                $("#vader").prop("src", "/images/darth-vader-tomando-cerveja.jpg");
            } else {
                $("#@nameof(Model.ValorContribuicao)").val($("#hdnValorSem").val());
                $("#vader").prop("src", "/images/gifts-for-darth-vader-fans.jpeg");
            }
        }
    </script>
}
