@model WebApplicationChurras.Models.Churrasco

@{
    ViewData["Title"] = "Detalhes do Churrasco";
}

<h2>@(Model.Descricao + " - " + Model.Data.ToShortDateString())</h2>

<div>
    <h4>@ViewData["Title"]</h4>
    <hr />
    <form>
        <div class="form-row">
            <div class="col-lg-2">
                <label class="bold"> @Html.DisplayNameFor(model => model.Observacao)</label>
            </div>
            <div class="col-lg-10">
                @Html.DisplayFor(model => model.Observacao)
            </div>
        </div>
    </form>
    <ul class="list-group margin">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <label class="bold">   @Html.DisplayNameFor(model => model.ValorSugeridoSemBebida)</label>
            R$   @Html.DisplayFor(model => model.ValorSugeridoSemBebida)
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <label class="bold"> @Html.DisplayNameFor(model => model.ValorSugeridoComBebida)</label>
            R$  @Html.DisplayFor(model => model.ValorSugeridoComBebida)
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
            <label class="bold"> Valor a ser arrecadado</label>
            R$   @Model.Participantes.Sum(p => p.ValorContribuicao)
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
            <label class="bold">
                Valor já pago
            </label>
            R$   @Model.Participantes.Where(p => p.Pago == true).Sum(p => p.ValorContribuicao)
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <label class="bold">
                Total Participantes
            </label>
            <span class="badge badge-dark badge-pill"> @Model.Participantes.Count() </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <label class="bold">
                Total de Bebuns
            </label>
            <span class="badge badge-dark badge-pill"> @Model.Participantes.Where(p => p.ComBebida == true).Count()</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <label class="bold">
                Total de Saudáveis
            </label>
            <span class="badge badge-dark badge-pill">  @Model.Participantes.Where(p => p.ComBebida == false).Count() </span>
        </li>
    </ul>
</div>
<div class="margin">
    <a asp-action="Index" class="btn btn-outline-secondary">Voltar</a>
    <a asp-action="Edit" class="btn btn-outline-dark" asp-route-id="@Model.ChurrascoID">Editar</a>
    <a asp-action="Create" class="btn btn-outline-dark" asp-controller="Participantes" asp-route-churrascoID="@Model.ChurrascoID">Adicionar Participante +</a>
</div>
<div>
    <h4>Participantes</h4>
    <hr />
    <table class="table table-striped table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Valor Contribuido</th>
                <th>Pago?</th>
                <th>Com Bebida?</th>
                <th>Observação</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var participante in Model.Participantes)
            {
                <tr>
                    <td> @participante.Nome </td>
                    <td> R$ @participante.ValorContribuicao </td>
                    <td> @( participante.Pago ? "Sim" : "Não" ) </td>
                    <td> @( participante.ComBebida ? "Sim" : "Não") </td>
                    <td> @participante.Observacao </td>
                    <td>
                        <a asp-action="Edit" class="btn  btn-sm btn-outline-dark" asp-controller="Participantes" asp-route-id="@participante.ParticipanteID">Editar</a> |
                        <a asp-action="Details" class="btn  btn-sm btn-outline-dark" asp-controller="Participantes" asp-route-id="@participante.ParticipanteID">Detalhes</a> |
                        <a asp-action="Delete" class="btn  btn-sm btn-outline-danger" asp-controller="Participantes" asp-route-id="@participante.ParticipanteID">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

