@model IEnumerable<WebApplicationChurras.Models.Churrasco>

@{
    ViewData["Title"] = "Churrascos";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-sm btn-outline-dark">Adicionar Novo +</a>
</p>
<table class="table table-sm table-hover table-striped">
    <thead >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
               Participantes
            </th>
            <th>
               Total Arrecadado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {       
            <tr>
                <td>
                    @item.Data.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @item.Participantes.Count()
                </td>
                <td>
                 R$  @item.Participantes.Sum(p => p.ValorContribuicao)
                </td>
                <td>
                    <a asp-action="Create" class="btn btn-sm btn-outline-dark" asp-controller="Participantes" asp-route-churrascoID="@item.ChurrascoID">Adicionar Participante +</a> |
                    <a asp-action="Edit" class="btn btn-sm btn-outline-dark" asp-route-id="@item.ChurrascoID">Editar</a> |
                    <a asp-action="Details" class="btn btn-sm btn-outline-dark" asp-route-id="@item.ChurrascoID">Detalhes</a> |
                    <a asp-action="Delete" class="btn btn-sm btn-outline-danger" asp-route-id="@item.ChurrascoID">Deletar</a>
                </td>
            </tr>
        
        }
    </tbody>
</table>
